.detail{
    position: fixed;
    top: 0;
    width: 12rem;
    z-index: 10;
}
.radius{
    position: fixed;
    top: 7.4rem;
    width: 12rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    z-index: 11;
}
.detail>.backHeader{
    color: #ccc;
    background-color: rgba(0,0,0,0);
}
.detail-container{
    margin-top: 220px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
}
.goods-detail>img{
    display: block;
    width: 11rem;
    margin: auto;
    /*margin-top: 15px;*/
    /*border-radius: 26px;*/
}
.img>.goods-detail:first-child>img{
    border-radius: 26px 26px 0 0;
}
.img>.goods-detail:last-child>img{
    border-radius: 0 0 26px 26px;
}
.goods-name{
    width: 11rem;
    margin: auto;
    line-height: 42px;
    font-size: 18px;
    color: #ee590a;
}
.goods-style , .goods-pendulum{
    width: 11rem;
    margin:0 auto 10px;
}
.goods-price{
    float: right;
    color: #ee590a;
    font-weight: 600;
}
.detailH{
    margin-top: -18px;
    font-size: 16px;
}
.detailH1{
    margin-top: 3px;

    font-size: 16px;

}
.detail-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    background-color: white;
    z-index: 10;
}
.myCart , #my-btn{
    float: left;
    width: 5.3rem;
    height: 36px;
    line-height: 36px;
    margin-left: .5rem;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    background: -webkit-linear-gradient(left, #f95e0a , #FF5F0A);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.book{
    float: right;
    width: 5.3rem;
    height: 36px;
    line-height: 36px;
    margin-top: 5px;
    margin-right: .5rem;
    border: none;
    border-radius: 10px;
    background: -webkit-linear-gradient(left, #d19a29, #d19a29);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.none{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
}
.chose{
    display: none;
    position: fixed;
    bottom: 0;
    width: 12rem;
    height: 400px;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    z-index: 24;
}

.x{
    width: 5rem;
    margin-left: .8rem;
    height: 38px;
    line-height: 38px;
    color: #ee590a;
    font-size: 18px;
    font-weight: 600;
}
.x>span{
    margin-left: .2rem;
    width: 10px;
    height: 10px;
    display: block;
    font-size:24px;
    transform: rotate(45deg);
}
.chose-goods{
    width: 11rem;
    height: 80px;
    margin:0 auto 50px;
    background-color: rgba(249, 94, 10, 0.11);
    border-radius: 10px;
}
.chose-goods>img{
    width: 80px;
    height: 80px;
    border-radius: 10px 0 0 10px;
}
.chose-goods>div{
    float: right;
    margin-right: .5rem;
}
.chose-name , .chose-price{
    margin-left: -7.5rem;
    margin-top: 15px;
    color: #ee590a;
    font-weight: 600;
}
.chose-size{
    width: 11rem;
    margin:0 auto 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.chose-size>div{
    width: 2rem;
    line-height: 30px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    background-color: #ccc;
}
.chose-size>.chosed{
    background-color: rgba(222, 91, 10, 0.75);
}

.chose-num>.min ,.chose-num>.add ,.chose-num>.num{
    display: inline-block;
    width: 26px;
    line-height: 26px;
    border-radius: 5px;
    margin-left: .5rem;
    text-align: center;
    color: #ee590a;
    background-color: #ccc;
}
.chose-num>.num{
    margin-left: .3rem;
    width: 10px;
    border: none;
    color: #000;
    font-size: 19px;
    background-color: rgba(0,0,0,0);
}


.weddingDress-radius{
    width: 11rem;
    margin: 46px auto 0;
    border-radius: 10px;
    background-color: #eaeaea;
    overflow: hidden;
}
.weddingDress-radius>img{
    float: left;
    display: block;
    width: 3rem;
    height: 4.2rem;
    border-radius: 10px 0 0 10px;
}

.weddingDress-radius>div{
    display: inline-block;
    width: 7rem;
    margin-left: 12px;
}
.weddingDress-radius>div>div{
    width: 7rem;
}
.goods_price{
    color: #ee590a;
    font-weight: 600;
    line-height: 34px;
}

.package{
    display: block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    margin-left: .5rem;
    text-align: center;
    color: #ee590a;
    background-color: rgba(249, 94, 10, 0.11);
    border-radius: 10px;
}