/*头像*/
.mine{
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 3px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 6px #f0f0f0;
    overflow: hidden;
}
.mine_header{
    float: left;
    width: 96px;
    height: 96px;
    margin-top: 12px;
    margin-left: 0.5rem;
    text-align: right;
    border-radius: 50%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 1px #B88628;
    /*background-color: rgba(184,134,40,0.3);*/
}
.mine_header>img{
    width: 80%;
}
/*用户名*/
.mine_name{
    float: left;
    height: 96px;
    margin-top: 12px;
    margin-left: 1rem;
}
.mine_name>h3{
    line-height: 60px;
    font-size: 19px;
    font-weight: 600;
}
.mine_name>h4{
    line-height: 16px;
    font-size: 14px;
    color: #B88628;
}
/*订单*/
.mine_order{
    width: 11rem;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mine_order>a{
    display: block;
    width: 2.3rem;
    height: 80px;
    text-align: center;
}
.mine_order>a>i{
    font-size: 32px;
    color: #ee590a;
}
.mine_order>a>i:nth-child(2){
    display: block;
    margin-left: -10px;
}
.icon-trophy{
    color: #B88628;
}
.icon-mobile{
    color: #B88628;
}
.icon-key{
    color: #B88628;
}
.icon-crown{
    color: #B88628;
}
.icon-fire{
    color: #B88628;
}
.mine_order>a>h3{
    margin-top: 15px;
    font-size: 13px;
}

/*横条框*/
.mine_done{
    display: block;
    width: 11.5rem;
    height: 52px;
    line-height: 50px;
    margin-left: .5rem;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 2px solid #f8f9fa;
    overflow: hidden;
}
.mine_done>i{
    margin-left: 3px;
    margin-right: 26px;
}
.mine_done>i:last-child{
    float: right;
    margin-right: .5rem;
    font-size: 10px;
    font-weight: 600;
    color: #999;
}

.logout{
    margin: 20px auto;
    width: 10rem;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    background-color: #ee590a;
}

/*登陆*/
.login-wrapper{
    top: 45px;
}
.backHeader{
    position: fixed;
    width: 12rem;
    top: 0;
    line-height: 40px;
    background-color: #fff;
    font-size: 19px;
    z-index: 10;
}
.backHeader>i{
    margin-left: .2rem;
    font-size: 16px;
}
.backHeader>i>span{
    font-size: 16px;
}
.rightTitle{
    float: right;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    margin-right: .5rem;
}
.header>.rightTitle{
    margin-right: 1rem;
}
.login_header{
    width: 96px;
    height: 96px;
    margin: auto;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #f8f8f8;
    box-shadow: 0 2px 1px #B88628;
    text-align: right;
}
.login_header>img{
    width: 82%;
}
.login-wrapper>h3{
    margin: 12px auto 6px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.login-wrapper>h4{
    text-align: center;
    font-size: 13px;
    color: #666;
    letter-spacing: 3px;
}

#frm{
    width: 11rem;
    height: 240px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 6px #ccc;
}
.login_phone{
    height: 32px;
    line-height: 34px;
    font-size: 16px;
    color: #999;
    border-bottom: 1px solid #B88628;
    width: 9rem;
    margin: auto;
}
.login_phone:first-child{
    margin-top: 6px;
}
.login_phone>i{

}
.login_phone>input{
    width: 7.5rem;
    margin-left: -8px;
    line-height: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    /*border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #B88628;*/
}

.alertMessage{
    height: 26px;
    line-height: 26px;
    color: #666;
    font-size: 14px;
    margin-left: .95rem;
    margin-bottom: 10px;
}
.alert-danger{
    color: #ee590a;
}
#frm>button{
    display: block;
    width: 9rem;
    height: 40px;
    line-height: 40px;
    margin: 32px auto;
    border: none;
    border-radius: 8px;
    background: -webkit-linear-gradient(left, #efe5a5, #d19a29);
}

.loginShow{
    display: none;
}

/*编辑*/
.editPhone , .editNickname , .editPassword{
    display: none;
    position: fixed;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #f6f6f6;
}
.editPhone>.backHeader , .editNickname>.backHeader , .editPassword>.backHeader{
    position: relative;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: -webkit-linear-gradient(left, #ee590a, #B88628);
}
.editPhone>.backHeader>div:first-child , .editNickname>.backHeader>div:first-child , .editPassword>.backHeader>div:first-child{
    float: left;
    margin-left: .5rem;
    z-index: 60;
}
.editPhone>.backHeader>div:last-child , .editNickname>.backHeader>div:last-child , .editPassword>.backHeader>div:last-child{
    float: right;
    margin-right: .5rem;
    color: #fff;
}
.ipt{
    width: 11rem;
    height: 40px;
    line-height: 40px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}
.ipt>i{
    font-size: 24px;
}
.ipt>input{
    width: 9rem;
    height: 24px;
    line-height: 24px;
    margin-top: 6px;
    vertical-align: top;
    outline: none;
    border: none;
    font-size: 16px;
}

.editPassword>.ipt{
    padding-left: 8px;
    font-size: 15px;
}
.editPassword>.ipt>input{
    width: 8rem;
}