<back-header callback="clickBack();"></back-header>
<div class="swiper-container" style="margin-bottom: 10px">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="txt-container">
                <div class="txt-title">新人必看：拍婚纱照前必须知道的事</div>

                <p>每个女孩子都有一个梦想，有一天穿上洁白的婚纱做他最美的新娘。 婚姻是人生中的大事，婚纱照更是必不可少，想要拍好婚纱照需要做哪些准备呢？ 怎样拍出最自然唯美最适合自己的婚纱照？铂爵婚纱全球旅拍就带您了解拍婚纱照前需要知道的事情。</p>

                <img src="images/news1.jpg">
                <p>1、选择机构是关键<p>
                <p> 拍婚纱照前，最首要也是最重要的就是摄影机构的选择，好的摄影机构能为新人提供更好的服务，避免出现一
                    些不必要的麻烦，而有些摄影机构为了牟利，采用各种手段，口头承诺、价格陷阱、二次收费等等。在选择摄影机
                    构时，新人一定要擦亮眼睛，选择权威机构。</p>

                <img src="images/news2.jpg">
                <p><i>2、服装挑选</i><p>
                <p> 新郎挑选衬衫西服更多以搭配新娘和场景的风格为主，对于正装色调的搭配应更注重于选择的场景搭配，款式结合自己的身材，
                    好身材当然要秀出来，如果身材不是太满意的新郎也不用过于担心，很多服饰都可以起到修饰的作用哦！<br>
                    新娘婚纱礼服挑选起来相对会复杂一些，要根据自身气质来选，一些身材娇小的新娘可以挑选短款拖尾小礼服，既不失典雅又尽显俏皮，
                    身材高挑的新娘可以选择长款大拖尾礼服，高贵气质尽显无余。选择礼服要多样化，室内选抹胸，室外可以选吊带，体现不一样的风格。
                    另外一些追求个性的新人可以选择穿情侣装。</p>
                <img src="images/news3.jpg">
                <p>3、拍摄前准备<p>
                <p> 新娘自己非常钟爱的首饰、婚鞋、无肩带内衣或者隐形内衣，新郎的皮鞋(黑白两双)袜子(黑白两色)，
                    如果新人自己准备了休闲情侣服饰，也要从头到脚提前搭配好哦。细碎物品比如隐形眼镜药水、湿纸巾、暖宝宝(室外温度低时使用)、
                    防蚊虫叮咬的药膏等等，也要尽量准备周全，防止第二天出现的任何意外状况，保证拍摄顺利进行。</p>
                <img src="images/news4.jpg">
                <p>4、做好休息<p>
                <p> 拍婚纱照是一件很幸福的事情，同时也是一件消耗体力的事情，婚纱拍摄通常是一天，在这期间体力消耗比较大，
                    所以拍照前一定要做好休息，拍摄时最好带一双舒服的鞋子。 </p>
                <img src="images/news5.jpg">
                <p>Mr.Right全球旅拍，30城20年100个旅拍目的地，我们在全球最美的地方等你！</p>

            </div>


        </div>
    </div>
    <!-- Add Scroll Bar -->
</div>