<back-header callback="clickBack();"></back-header>
<div class="swiper-container" style="margin-bottom: 10px">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="txt-container">
                <div class="txt-title">拍婚纱照要换几套衣服，这些衣服要怎么选？</div>
                <p>如果给你一个机会，拍婚纱照可以自由选择服装数量，但只能拍一天，你会选多少套？相信大部分都会说“当然越多越好啦！反正多穿又不花钱！渍渍渍！就知道你会这样想！作为经验丰富的婚纱摄影小编觉得宝宝们还是先听听过来人怎么说！</p>

                <img src="images/pic41.jpg">
                <p>@A妹纸：婚纱照换了7套衣服，粉色绿色一字肩大拖尾明星同款换着来，每套服装都炒鸡美！But，一天折腾下来，累成dog。</p>
                　　<p>@B妹纸：不同的服装发型和妆容也要做相应的改变，我们一套服装换下来的时间大约为40分钟。套系里包含了6套服装，算下来换衣服就花了3个多小时，算上中途休息的时间，拍摄的时间就被压缩了。</p>
                　　<p>@C妹纸：我的婚纱照拍了12套衣服，反正一辈子就拍一次，我要把漂亮的婚纱礼服都穿个遍！不要问我怎么做到的，才不会告诉你我拍了三天呢！西西！</p>
                　　<p>.......</p>
                <p>说不花钱就多多益善的妹纸不得不对你说——在婚纱照套系只安排了1天拍摄的情况下，5-6套是最完美的，最好不要超过6套。当然，如果你觉得6套太少，想穿更多样式的婚纱照，最好选择婚照套系拍摄时间一天以上，拍七八九十套服装，不紧不慢，一边欣赏美景，一边拍美片儿也是可以的！</p>

                <img src="images/pic42.jpg">
                <p>那么问题来了，这些婚纱都该怎么选呢？</p>
                　　<p>下面这个万能公式，拿走不谢！</p>
                　　<p>4套=2套婚纱+1套礼服+1套日常</p>
                　　<p>5套=2套婚纱+2套礼服+1套日常</p>
                　　<p>6套以此类推</p>
                　　<p>......</p>
                　　<p>OK，确定了就跟着清单打勾勾吧（排序不分先后）！</p>
                　　<p>婚纱类</p>
                　　<p>拖尾婚纱</p>
                <p>拖尾白纱高端大气，一直是作为主纱，高挑身材好的新娘可以大胆选择大拖尾婚纱，不过个子小的新娘也可以选择前短后长的拖尾婚纱。拖尾婚纱仪式感强，无论是室内拍照还是外景照都可以选择。</p>
                　　<p>齐地婚纱</p>
                　　<p>如果衣服有4套及以上的，选择一套拖尾纱后可以考虑一套齐地纱。齐地婚纱可以分为加内衬和不加内衬两种，这两种都有超强的正式feel，很适合优雅范儿的妞儿们拍摄花海、韩式的场景等，效果清新又浪漫。</p>
                　　<p>短款婚纱</p>
                　　<p>短款婚纱，妹纸穿都会显得俏皮，可以在拍摄城市街拍或者海景时候穿，不过短纱比较适合腿纤细修长的，不过腿粗的姑娘也可以借助后期修调，也可以打造好看的婚纱照。</p>
                　　<p>彩纱</p>
                　　<p>一套婚纱照里肯定要有多种风格多种颜色才会更加丰满。如果只是中规中矩的选了白纱，可以趁着拍婚纱照穿一次彩纱，多年以后翻相册的时候，你可能会觉得当年的自己真的太死板，太boring了。</p>
                　　<p>鱼尾婚纱</p>
                　　<p>鱼尾纱比较适合身材高挑匀称的新娘，因为鱼尾纱是非常显身材的，身材好的话当然穿着更加动人，身材不完美的情况就不太建议穿这种。</p>
                <img src="images/pic43.jpg">
                <p>【Tips】</p>
                　　<p>白纱在拍婚纱照时很重要的，所以新娘要注意挑选婚纱的式样。而且室内外两套白纱应该有所区别。例如，内景选了大拖尾，外景就不妨选择凸显曲线的鱼尾；内景选了抹胸，室内就可以选吊带。此外，无论是婚纱款式颜色，都要做出一些区别，这样可以展示自己不一样的美，婚纱照也会更加丰富一些。</p>
                　　<p>礼服类</p>
                　　<p>一套婚纱照里，高贵的礼服也是必不可少的。礼服一般以长的为主，可选择的款式和色调非常多。建议选择礼服时不要挑太浅的色系，因为在剧烈灯光、阳光的照耀下浅色礼服难免会逊色一些。</p>
                　　<p>日常类</p>
                <p>现在婚纱照偏向生活化自然妆感风格，在室内简约环境拍摄，更加能体现两个人真实的幸福感；休闲服简单休闲，比情侣装少一点套路，却多了很多个性。</p>
                　　<p> 【Tips】</p>
                　　<p>（1）很多商家的服装是根据套餐分区选择的，所以建议宝宝们在谈单的时候先问清楚，以免到时候选服装的时候尴尬；</p>
                　　<p>（2）宝宝们在选衣服前最好先通过各种途径查看商家的样片和客片，对商家的服装有个大概的了解，有喜欢的就保存下来，选衣服时可直接出示给礼服师；</p>
                　　<p>（3）按照商家安排的时间去挑选婚纱服装，并且试装，选择出自己喜欢的婚纱款式，如果尺寸有不合适可以跟商家协商调整办法。</p>


            </div>


        </div>
    </div>
    <!-- Add Scroll Bar -->
</div>