<div class="swiper-container hotDress_wrapper">
    <div class="swiper-wrapper">
    <div class="swiper-slide hotDress" ng-repeat="hot in data">
        <img ng-src="images/{{hot.image}}" alt=""/>
        <h3>{{hot.name}}</h3>
        <h4>￥{{hot.price}}</h4>
    </div>
    <!--<div class="hotDress">
        <img src="images/n30.jpg" alt=""/>
        <h3>红妆吊带拖尾婚纱</h3>
        <h4>￥820.00</h4>
    </div>
    <div class="hotDress">
        <img src="images/j30.jpg" alt=""/>
        <h3>童话公主蕾丝婚纱</h3>
        <h4>￥624.00</h4>
    </div>
    <div class="hotDress">
        <img src="images/m31.jpg" alt=""/>
        <h3>白色蕾丝婚纱</h3>
        <h4>￥520.00</h4>
    </div>-->
    </div>
</div>
<!-- Add Scroll Bar -->
<div class="swiper-scrollbar"></div>
</div>