<div class="newPhoto_wrapper">
   <!-- <a href="#/photography/{{$index + 1}}" class="newPhoto" ng-repeat="photography in data">
        <img ng-src="images/{{photography.image[0]}}" alt=""/>
        <h3>{{photography.name}}</h3>
    </a>-->
    <a href="#/photography/1" class="newPhoto">
        <img src="images/medf-3.jpg" alt=""/>
        <h3>马尔代夫客照</h3>
    </a>
    <a href="#/photography/2" class="newPhoto">
        <img src="images/balidao-3.jpg" alt=""/>
        <h3>巴厘岛客照</h3>
    </a>
    <a href="#/photography/3" class="newPhoto">
        <img src="images/xgll-3.jpg" alt=""/>
        <h3>香格里拉客照</h3>
    </a>
    <a href="#/photography/4" class="newPhoto">
        <img src="images/pujidao-3.jpg" alt=""/>
        <h3>普吉岛客照</h3>
    </a>
    <a href="#/photography/5" class="newPhoto">
        <img src="images/sanya-3.jpg" alt=""/>
        <h3>三亚客照</h3>
    </a>
    <a href="#/photography/6" class="newPhoto">
        <img src="images/lijiang-3.jpg" alt=""/>
        <h3>丽江客照</h3>
    </a>
</div>