<div class="page-footer">
    <a href="#/" ng-class="{'actived': selectIndex == 0}">
        <i class="icon-diamond"></i>
        <h4>首页</h4>
    </a>
    <a href="#/weddingDress" ng-class="{'actived': selectIndex == 1}">
        <i class="icon-ravelry"></i>
        <h4>婚纱</h4>
    </a>
    <a href="#/photographyPackage" ng-class="{'actived': selectIndex == 2}">
        <i class="icon-light-up"></i>
        <h4>摄影</h4>
    </a>
    <a href="#/photography/1" ng-class="{'actived': selectIndex == 3}">
        <i class="icon-paper-plane-empty"></i>
        <h4>写真</h4>
    </a>
    <a href="#/mine" ng-class="{'actived': selectIndex == 4}">
        <i class="icon-diigo"></i>
        <h4>我的</h4>
    </a>
</div>